<header class="container px-4 py-6 mx-auto">
    <nav class="flex items-center justify-between">
        <a class="text-xl font-semibold" href="#">orwi.dev</a>
        <div class="hidden md:flex items-center space-x-8">
            <a class="text-sm text-zinc-400 hover:text-white transition-colors" href="#skills">Skills</a>
            <a class="text-sm text-zinc-400 hover:text-white transition-colors" href="#proyectos">Proyectos</a>
            <!-- <a class="text-sm text-zinc-400 hover:text-white transition-colors" href="#">Testimonios</a> -->
            <a class="text-sm text-zinc-400 hover:text-white transition-colors" href="#contacto>Contacto</a>
        </div>
        <button class="flex px-4 py-2 text-sm border rounded-sm border-zinc-700 bg-gradient-to-b hover:bg-zinc-700 transition-colors cursor-pointer">Currículum</button>
    </nav>
</header>