---
---

<section class="container mx-auto px-4 py-20 md:py-32 flex flex-col md:flex-row items-center">
	<div class="md:w-1/2 space-y-6 mb-20 md:mb-0">
		<!-- badges -->
		<div class="badges flex gap-2">
			<span class="text-xs font-bold border rounded-full border-zinc-700 py-0.5 px-2.5 text-zinc-400">Full Stack Developer</span>
			<span class="text-xs font-bold border rounded-full border-zinc-700 py-0.5 px-2.5 text-zinc-400">DevOps</span>
		</div>
		<h1 class="text-4xl md:text-6xl font-semibold">
			Creando <span class="text-emerald-400">experiencias</span> digitales 
			que marcan la diferencia</h1>
		<p class="text-zinc-400 text-lg md:text-xl max-w-md">
			Desarrollo moderno y devops para soluciones eficientes, seguras y escalables.
		</p>
		<div class="socials flex space-x-4 pt-4">
			<a class="text-sm font-semibold bg-emerald-500 hover:bg-emerald-600 px-4 py-2 rounded transition-colors" href="#proyectos">Ver proyectos</a>
			<a class="text-sm font-semibold border border-zinc-700 hover:bg-zinc-800 px-4 py-2 rounded transition-colors" href="#proyectos">Contacto</a>
		</div>
	</div>
	<div class="md:w-1/2 flex justify-center md:justify-end">
		<!-- <div class="flex relative w-64 h-64 md:w-80 md:h-80 rounded-full overflow-hidden border-4 border-zinc-800 shadow-lg shadow-emerald-500/55 justify-center items-center">
		</div> -->
	</div>
</section>

